<div class="row">
  <div class="col">
    <img src="../../assets/gobooks.jpg" height="300" width="350"/></div>
  <div class="col">
    <p style="text-align: center">
    <span style="color: #3465a4; font-size: xx-large; "><b>Welcome
      to the YAMAZONE Book Repository. </b></span>
    </p>
    <p style="text-align: center">
      <span style="color: #3465a4; font-size: x-large; "><b>We
        are happy to help you with your search.
      </b></span>
    </p>
    <p style="text-align: center">
      <span style="color: #1a503a; font-size: small; "><b>Please
      selects Books to browse our catalogue
      </b></span>
    </p>

  </div>
  <div class="col">
    <img src="../../assets/1books2-med.jpg" height="300" width="400"/></div>
</div>

